* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: #c9c9c9;
}

header {
    width: auto;
    height: 70px;

    padding-top: 25px;

    background-color: #3d0476;

}

header h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    margin-left: 50px;

    color: white;
}

.box-container {
    width: 520px;
    height: 320px;

    margin: 100px auto 0 auto;

    background-color: white;
    border: 7px solid black;
    border-radius: 23px;
    box-shadow: -8px 8px rgba(0, 0, 0, 0.2);
    
    text-align: center;
}

.box-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    
    margin-top: 70px;
    
    color: #4b4b4b;
}

.top-box {
    width: auto;
    height: 70px;

    background-color: #3d0476;
    box-shadow: 0 7px rgba(0, 0, 0, 0.2);
    border-radius: 14px 14px 0 0;
}

.bottom-box {
    width: 350px;
    height: 60px;

    margin: 60px auto 0 auto;

    background-color: #3d0476;
    border: 7px solid black;
    border-radius: 23px;
    box-shadow: -7px 7px rgba(0, 0, 0, 0.2);
}
